{% extends 'base.html' %}

{% block title %}about{% endblock title %}

{% block body %}
<link rel="stylesheet" href="/static/about.css"/>

<div class="container-fluid px-0 mb-3" >
    <img src="/static/4.jfif" class="d-block w-100 mx-0" alt="...">
  </div>
  <div class="container mb-3 py-0">
   <h1 class="container text-center">"About Us"</h1>
  </div>
  <div class="container mb-2 py-0">
    <h5 class="container text-center">This website is created by Aman.</h5>
    <h3 class="container text-center">Track the progress of your tasks and stay on top of deadlines.</h3>

  </div>

{% endblock body %}