<!-- reset_password.html -->
{% extends 'base.html' %}

{% block title %}change password{% endblock title %}

{% block body %}
<link rel="stylesheet" href="/static/styles2.css" />
<div class="wrapper">
    <div class="logo">
        <img src="/static/5.jfif" alt="">
    </div>
    <div class="text-center mt-4 name">
        Reset Password
    </div>
    <form class="p-3 mt-3" method="post" action="{% url 'reset_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn mt-3" type="submit">Reset Password</button>
        
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </form>
</div>
{% endblock body %}
