{% extends 'base.html' %}

{% block title %}intern_profile{% endblock title %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/intern_profile.css">
</head>
<body>
    <div class="profile-container">
        <h1>Profile</h1>
        <div class="profile-info">
            <div class="profile-picture">
                {% if intern.profile_picture %}
                    <img src="{{ intern.profile_picture.url }}" alt="Profile Picture">
                {% else %}
                    <img src="/static/img/Login-background.jpg" alt="Default Profile Picture">
                {% endif %}
            </div>
            <div class="profile-details">
                <p><strong>Username:</strong> {{ intern.user.username }}</p>
                <p><strong>Name:</strong> {{ intern.user.get_full_name }}</p>
                <p><strong>Email:</strong> {{ intern.user.email }}</p>
                <p><strong>Mobile Number:</strong> {{ intern.mobile_number }}</p>
            </div>
            
        </div>

        <a href="{% url 'edit_profile' intern_id=intern.intern_id %}">
            <i class="bi bi-pencil-square" style="font-size: 1.5rem;"></i>
        </a>


    </div> 
 

    <li class="button-link">
        <a class="button" href="{% url 'logout' %}">Logout</a>
    </li>

   
</body>
</html>
{% endblock body %}
